<?xml version="1.0" encoding="utf-8"?>
<AppSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <InputDefaultBindingsFixApplied>true</InputDefaultBindingsFixApplied>
    <ShowMenuFixApplied>true</ShowMenuFixApplied>
    <MenuUpdateVersion>0</MenuUpdateVersion>
    <Volume>100</Volume>
    <RecentFiles>
        <string>D:\Users\botu\Desktop\test\TVアニメ『アンデッドアンラック』ノンクレジットOPムービー／OPテーマ：女王蜂「01」_ Undead Unluck Noncredit Opening Movie_origin.mp4</string>
        <string>E:\Downloads\x_media_downloader\Min22Nog-1984946439672447071-01.mp4</string>
        <string>E:\Downloads\x_media_downloader\Amee_110304-1980563650772627509-01.mp4</string>
        <string>E:\Downloads\x_media_downloader\2du_ichizu-1980221075893190852-01.mp4</string>
        <string>E:\Downloads\SCREENSHOT.webp</string>
        <string>D:\Users\botu\Desktop\教則データ\Yasuomi_Umetsu_梅津_泰臣_Devilman_(1987)_Twitter.mp4</string>
        <string>D:\Users\botu\Desktop\教則データ\TVアニメ『アンデッドアンラック』ノンクレジットOPムービー／OPテーマ：女王蜂「01」_ Undead Unluck Noncredit Opening Movie_origin.mp4</string>
        <string>D:\Users\botu\Desktop\test\a\TVアニメ『アンデッドアンラック』ノンクレジットOPムービー／OPテーマ：女王蜂「01」_ Undead Unluck Noncredit Opening Movie.webm</string>
        <string>D:\Users\botu\Desktop\test\a\TVアニメ『アンデッドアンラック』ノンクレジットOPムービー／OPテーマ：女王蜂「01」_ Undead Unluck Noncredit Opening Movie.mkv</string>
        <string>D:\Users\botu\Desktop\test\a\TVアニメ『アンデッドアンラック』ノンクレジットOPムービー／OPテーマ：女王蜂「01」_ Undead Unluck Noncredit Opening Movie.flv</string>
        <string>D:\Users\botu\Desktop\test\a\TVアニメ『アンデッドアンラック』ノンクレジットOPムービー／OPテーマ：女王蜂「01」_ Undead Unluck Noncredit Opening Movie.avi</string>
        <string>D:\Users\botu\Desktop\test\a\477abee9959e36597ed38c8d7b9e0d17.webm</string>
        <string>D:\Users\botu\Desktop\test\GMydxwxXwAAjoCq.gif</string>
        <string>D:\Users\botu\Desktop\test\GMydxwxXwAAjoCq.mp4</string>
        <string>D:\Users\botu\Desktop\test\popoporigon-1563165276635807748-20220826_230338-vid1.mp4</string>
        <string>D:\Users\botu\Desktop\test\MHZ2biXXtsGyoCM6.mp4</string>
        <string>D:\Users\botu\Desktop\test\bahi_jd.mp4</string>
        <string>D:\Users\botu\Desktop\test\ErZSW8VXEAAxgdg.mp4</string>
        <string>D:\Users\botu\Desktop\test\ErZSW8VXEAAxgdg.gif</string>
        <string>D:\Users\botu\Documents\xvideos.com_0c5248513b6504a34640dbab009d52bf.flv</string>
        <string>D:\Users\botu\Desktop\test\ひぐらしのなく頃にOP HD画質_sm30900781.mp4</string>
        <string>D:\Users\botu\Desktop\test\gPQ_dXcU2RsIx0PD.mp4</string>
        <string>D:\Users\botu\Desktop\test\GJwMdasbwAABhhi.mp4</string>
        <string>D:\Users\botu\Desktop\test\GJwMdasbwAABhhi.gif</string>
        <string>D:\Users\botu\Desktop\test\GJtrB9vbAAA3IP7.mp4</string>
    </RecentFiles>
    <WindowLocation>
        <X>-1</X>
        <Y>0</Y>
    </WindowLocation>
    <WindowPosition>
        <X>1936</X>
        <Y>490</Y>
    </WindowPosition>
    <WindowSize>
        <Width>1190</Width>
        <Height>669</Height>
    </WindowSize>
    <AudioDevice />
    <ConfigEditorSearch>Video:</ConfigEditorSearch>
    <Mute>no</Mute>
    <StartupFolder />
</AppSettings>